<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<header class="page_header">
    <nav>
        <a href="/"><-- back to app</a>
    </nav>
</header>
<main class="container">
    <section>
        <h1>Headers</h1>
        <hr>
        <h1>H1 Header</h1>
        <h2>H2 Header</h2>
        <h3>H3 Header</h3>
        <h4>H4 Header</h4>
        <H5>H5 Header</H5>
        <h6>H6 Header</h6>
    </section>
    <section>
        <h1>Block Elements</h1>
        <hr>
        <div>Div</div>
        <section>Section</section>
        <artice>Article</artice>
        <aside>Aside</aside>
        <header>Header</header>
        <footer>Footer</footer>
        <blockquote>Blockquote</blockquote>
    </section>
    <section>
        <h1>Links</h1>
        <hr>
        <p>
            <a href="#">This</a>
            is a link in a paragraph.
        </p>
    </section>

</main>
<footer class="page_footer"></footer>
</body>
</html>