<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header class="page_header"></header>
    <main id="app-content" class="container">
    </main>
    <footer class="page_footer"></footer>
</body>
</html>